body {
    margin: 0;
    padding: 0;
    color: #666;
    background: #fff;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #FF5252;
    text-align: center;
    display: block;
    border-width: 1px;
    border-radius: 50%;
    z-index: 999;
}

#return-to-top i {
    position: relative;
    top: 10px;
    color: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#return-to-top:hover i {
    top: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

footer {
    position: inherit;
    height: 80px;
    width: 100%;
    background-color: #3F51B5;
}

.footer_decorator {
    text-align: center;
    color: #fff;
    padding: 20px;
}

header {
    z-index: 3;
}

#header {
    padding-top: 80px;
    height: 400px;
	
	background-repeat: no-repeat;
	background-image: linear-gradient(to right,#303F9F,#283593)

}

#education {
    height: 400px;
}

#achivements {
    height: 400px;
	background-color:#f8f9fa
}

#projects {
    height: 800px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
	
}

#contact_me {
    height: 500px;
	background-color:#f8f9fa
}

#project-container {
    width: 90%;
    margin: 5%;
    display: inline-block;
}

.card {
    float: left;
    width: 28%;
    margin: 30px;
    height: 300px;
    background-color: transparent;
}

.card:first-child {
    margin-left: none;
}

.card-title {
    font-size: 1.5em;
    color:black;
    text-align: center;
}

.card-desc {
  
    color:#757575;
    margin-top: 10px;
    text-align: center
}

.border-red {
    border: 2px;
    border-radius: 2%;
    border-width: 2px;
    border-color: #f00;
}

.border-white {
    border: 2px;
    border-radius: 2%;
    border-width: 2px;
    border-color: #fff;
}

.border-black {
    border: 2px;
    border-radius: 2%;
    border-width: 2px;
    border-color: #000;
}
